* {
  cursor: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 0;
}

/* animations */
/* === ANIMATIONS FOR SCROLL BASED INTERACTION === */

.slide-left {
	opacity: 0;
	transform: translateX(2em);
	transition: all .5s .35s ease-out;
	will-change: all;
}

.slide-left.is-visible {
	opacity: 1;
	transform: translateX(0);
}

.slide-up {
	opacity: 0;
	transform: translateY(2em);
	transition: all .5s .5s ease-out;
/*	will-change: all;*/
}

.slide-up.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.fade-in {
	opacity: 0;
	transition: all 1s  ease-out;
}
.fade-in.is-visible {
	opacity: 1;
}

.slide-right {
	opacity: 0;
	transform: translateX(-10em) rotate(0);
	transition: all .5s 1s ease-out;
	will-change: all;
}

.slide-right.is-visible {
	opacity: 1;
	transform: translateX(0) rotate(-10deg);
}

/* animations */
h2.heading_large {
  font-size: 1.8em;
}
img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}


.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: #C0AEFB;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

header.header {
  padding: 60px;
  text-align: center;
  background: #333;
  font-size: 30px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.row, .navbar {
  display: flex;
  flex-direction: column;
}

.navbar a {
  color: #C0AEFB;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  flex: 1;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
  color: #CC7DFF;
}

.link a {
  color: #C0AEFB;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  flex: 1;
}

.link a:link {
  text-decoration: none;
}

.link a:hover,
.link a:focus {
  color: #CC7DFF;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.web_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  margin: 5vmin;
  /* padding-bottom: 2rem; */
}

.title {
  font-size: 30px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  /* padding: 14px 20px; */
  text-align: start;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding-bottom: 20px;
  padding-top: 0;
  border-bottom: solid;
  border-color: #fff;
  /* max-width: 400px; */
}

.sub_title {
  font-size: 24px;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  /* padding: 7px 40px; */
  text-align: start;
  padding-top: 20px;
  padding-bottom: 0;

}

.nav_title {
  color: #C0AEFB;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  /* padding: 14px 20px; */
  text-decoration: none;
  text-align: center;
  flex: 1;
}

.title a:link {
  text-decoration: none;
}

.title a:hover,
.title a:focus {
  color: #CC7DFF;
}


figure img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position:
    padding: 0;
  padding-left: 10vmin;
  padding-right: 10vmin;
}

.corner {
object-position: right;
}

.image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.image__overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  font-family: bebas-neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
  padding: 5vmin;
  z-index: 1001;
}
figure.image:hover .image__overlay {
  opacity: 1;
}

.image__title {
  font-size: 50px;
}

.overlay_a {
  width: 400px;
  height: 400px;
  position: absolute;
  /* top: 0;
  left: 0; */
  /* border: solid 1px red; */
  z-index: 1002;
}



.row, .socials {
  display: flex;
  flex-direction: column;
  border-top: solid;
  border-color: #fff;
  margin: 5vmin;
  /* margin-left: 15vmin;
  margin-right: 15vmin; */

}

.socials a {
  color: #C0AEFB;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  flex: 1;
}

.socials a:link {
  text-decoration: none;
}

.socials a:hover,
.socials a:focus {
  color: #CC7DFF;
}

section.articles {
  width: 100%;
  /* position: relative; */
  /* display: flex; */
  /* top: 25rem;
  left: 0; */
  flex-direction: column;
  /* gap: 2rem; */
  margin: 0;
  padding: 5vmin;
  padding-top: 2rem;
}

article.poem {
  /* flex: 1; */
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  padding-bottom: 5vmin;
}

article.intro {
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  margin: 5vmin;
  /* padding-bottom: 2rem; */
}

article.w_intro {
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  margin: 5vmin;
  border-top: solid;
  border-color: #fff;
  /* padding-bottom: 2rem; */
}

section.vid {
  display: flex;
  justify-content: center;
}

.myVideo {
  width: 100%;
  max-width: 800px;
}

.learn_more {
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}

.learn_more a {
  color: #C0AEFB;
}

.learn_more a:link {
  /* text-decoration: none; */
}

.learn_more a:hover,
.learn_more a:focus {
  color: #CC7DFF;
}

ul.socials-list {
  /* display: flex; */
  margin left: 15vmin;
  padding: 0;
  list-style: none;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  /* background-color: red; */
}

/*===TRANSITIONS SECTION===*/
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background-color: #333;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 101;
  background-color: #333;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  transform: translateX(0);
}

.transition-3 {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #333;
  transition: 0.5s ease-in-out;
}

.transition-3.is-active {
  transform: translateY(0);
}

.transition-4 {
  position: fixed;
  top: 0;
  left: 140px;
  width: 0vh;
  height: 0vh;
  border-radius: 100%;
  z-index: 101;
  background-color: #333;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-family: georgia;
  font-style: italic;
}

.transition-4.is-active {
  width: 400vh;
  height: 400vh;
  font-size: 400vh;
  left: -50%;
  top: -100%;
}

/*===animations===*/

.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-4 8:52:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



/*===WORKS SECTION===*/
/* main {
  display: flex;
} */
.parent {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #333;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* z-index: -1000; */
}

figure {
  /* position: ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex:1 100%; */
  margin: 5vmin;
  padding: 0;
}


.low_nav {
  display: flex;
  font-family: bebas, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 5vmin;
  /* padding-bottom: 2rem; */
  justify-content: space-between;
  border: none;
}

button {
}

.button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  /* border-radius: 8px; */
  /* border: 2px solid #333; */
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #C0AEFB;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/*===PROJECT SECTION===*/
section.project {
  display: flex;
  margin: 0;
  padding: 0;
}

article.goal {
  display: block;
  flex-shrink: 1;
  font-family: nunito-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  padding-bottom: 2rem;
}

h1 {
  font-size: 50px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.logo a {
  color: #C0AEFB;
  font-size: 50px;
}

.logo a:link {
  text-decoration: none;
}

.logo a:hover,
.logo a:focus {
  color: #CC7DFF;
}

.imp {
  width: 100%;
}

.depth {
  padding-top: 20px

}

.important {
  font-size: 30px;
  color: #CC7DFF;
  font-weight: 900;
  margin-right: 2em;
  padding-top: 10px;
}

/*===DEFINE TEXT SIZES AND MARGINS FOR MOBILE DEVICES===*/
/* === TABLET LAYOUT INHERITS FROM MOBILE 600PX 980PX === */
@media only screen and (min-width: 600px) {
  figure img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position:
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .row, .navbar {
    display: flex;
    flex-direction: row;
  }

  .row, .socials {
    display: flex;
    flex-direction: row;
  }

  header.header {
    padding: 60px;
    padding-left: 5vmin;
    text-align: left;
    background: #333;
    font-size: 30px;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }

/* === DESKTOP LAYOUT INHERITS FROM MOBILE AND TABLET > 980PX === */
@media only screen and (min-width: 980px) {
  figure img {
    /* min-width: 800px;
    min-height: 800px; */
    min-width: 600px;
    min-height: 600px;
    object-fit: cover;
    object-position:
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }

  header.header {
    padding: 60px;
    /* padding-left: 15vmin; */
    padding-left: 50vmin;
    text-align: left;
    background: #333;
    font-size: 30px;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }

  .image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .row, .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-right: 15vmin; */
    margin-right: 50vmin;
    gap: 2em;
  }

  .navbar a {

    padding: 0;
    flex: 0;
    gap: 2rem;
    /* padding: 5vmin; */
  }

  .low_nav {
    display: flex;
    font-family: bebas, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0;
    /* margin-left: 15vmin;
    margin-right: 15vmin; */
    margin-left: 50vmin;
    margin-right: 50vmin;
    /* padding-bottom: 2rem; */
    justify-content: space-between;
    border: none;
  }

  .row, .socials {
    display: flex;
    flex-direction: row;
    /* margin-left: 15vmin;
    margin-right: 15vmin; */
    margin-left: 50vmin;
    margin-right: 50vmin;
  }

  article.intro {
    font-family: nunito-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    margin-left: 50vmin;
    margin-right: 50vmin;
    /* margin: 15vmin; */
    /* padding-bottom: 2rem; */
  }

/* .flex {
  display: flex;
} */

/* .half {
  width: 50%;
} */

  article.w_intro {
    font-family: nunito-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    margin-left: 50vmin;
    margin-right: 50vmin;
    /* margin: 15vmin; */
    border-top: solid;
    border-color: #fff;
    /* display: flex;
    flex-direction: row wrap; */
    /* padding-bottom: 2rem; */
  }


  /* article.w_intro_important {
    font-family: nunito-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    margin: 15vmin;
    border-top: solid;
    border-color: #fff;
    display: flex;
    flex-direction: row wrap;
    padding-bottom: 2rem;
  } */

  .image__overlay {
    position: absolute;
    width: 600px;
    height: 600px;
    /* width: 800px;
    height: 800px; */
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
    padding: 5vmin;
    z-index: 1001;
  }

  .overlay_a {
    width: 400px;
    height: 400px;
    /* width: 800px;
    height: 800px; */
    position: absolute;
    /* top: 0;
    left: 0; */
    /* border: solid 1px red; */
    z-index: 1002;
  }

  section.articles {
    /* width: 50%; */
    width: 100%;
    /* position: relative; */
    /* display: flex; */
    /* top: 25rem;
    left: 0; */
    flex-direction: column;
    /* gap: 2rem; */
    margin: 0;
    /* padding: 15vmin; */
    padding: 50vmin;
    padding-top: 2rem;
  }
